#nav{
	list-style: none;
	float: right;
	/*width: 100%;*/
}
#nav li{
	display: inline-block;
	font-family: arial;
	font-size: 13px;
	margin: 0 10px;
}
#nav a{
	text-decoration: none;
}
.navWrap{
	width: 100%;
	height: 50px;
	position: relative;
}
.mainWrap{
	width: 825px;
	margin: 0 auto;
}
.logo{
	margin: 15px auto;
	width: 169px;
	position: relative;
}
#collab, #millions, .built, .rework, .nuts{
	font-weight: 500;
  font-size: 53px;
  line-height: 1em;
  margin: 10px 0 20px 0;
  letter-spacing: -2px;
  color: #232323;
  clear: both;
  text-align: center;
  display: block;
  font-family: "Crimson Text",serif;
}
#millions{
	margin-bottom: 36px;
}
.frustrate{
	text-align: center;
}
.squareWrap{
	width: 700px;
	height: 300px;
	margin: 0 auto;
}
.squareWrap2{
	width: 630px;
	height: 300px;
	margin: 0 auto;
}
.square{
	width: 180px;
	height: 270px;
	float: left;
	text-align: center;
	text-decoration: none;
	margin: 10px 25px;
	background: #f6f6f6;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
}
.square2{
	width: 180px;
	height: 270px;
	float: left;
	text-align: center;
	text-decoration: none;
	margin: 10px 15px;
}
.square img{
	margin: 10px auto;
	display: block;
}
.square h3{
	font-weight: bolder;
	font-size: 22px;
	color: #336699;
	text-decoration: underline;
}
.square2 h3{
	color: black;
	font-family: arial;
	font-size: 20px;
}
.squareP1{
	color: #cc0000;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
}

.squareP2{
	color: black;
	word-spacing: 2px;
	font-size: 17px;
	display: block;
	margin: 0 10px;
}
.square2P1, .redWords{
	color: #cc0000;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
}

.square2P2{
	color: #888;
	word-spacing: 2px;
	font-size: 13px;
	display: block;
	margin: 0 10px;
	font-family: arial;
}
hr{
	background: white url(img-hr.png) no-repeat;
	border: none;
	height: 12px;
	width: 72px;
	margin: 25px auto;
	display: block;
	clear: both;
}
.section2{
	margin-bottom: 40px;
}
.arrow{
	display: block;
  	margin-top: -70px;
  	/*margin-left: 21px;*/
  	position: absolute;
}
.globe{
	float: right;
	display: inline;
	position: relative;
	/*top: -135px;*/
}
.people{
	height: 127px;
  	width: 143px;
  	overflow: hidden;
  	margin-left: -118px;
  	margin-top: 56px;
  	position: absolute;
  	float: left;
  	
}
.people a{
	height: 104px;
  	width: 143px;
  	display: block;
  	background: url(img-customers.png) 0 0;
}
.people a:hover{
	background: url(img-customers.png) 0 -104px;
}
.people p{
	font-size: 12px;
  	text-align: center;
}
.loyal{
	text-align: left;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3em;
  color: #666;
  /*top:-160px;*/
  position: relative;
  /*float: left;*/
  display: block;
}
.companies{
	background: url(logos-companies-bw.png) no-repeat;
	height: 50px;
	width: 100%;
	/*top: -162px;*/
	position: relative;
	/*float: left;*/
}
.section3,.section4{
	float: left;
	position: relative;
	margin-bottom: 45px;
}
.column{
	width: 380px;
	float: left;
	font-family: arial;
	margin-left: 32px;
}
.bigNum{
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
  	padding-left: 5px;
 	width: 25px;
  	float: left;
  	font-size: 58px;
  	font-weight: 500;
  	line-height: normal;
  	margin: 0 15px 0 0;
  	color: #CCC;
  	display: block;
}
.section3 p{
	text-align: left;
  	line-height: 1.4em;
  	font-size: 12px;
  	color: #222;
  	margin: 0 0 0 45px;	

}
.red2{
	color: #cc0000;
	font-family: arial;
	margin: 10px 0;
}
.crumple{
	text-decoration: none;
	font-size: 12px;
	color: black;
	display: block;
  	width: 143px;
  	float: right;
  	 position: relative;
  	margin-right: -128px;
  	margin-top: -125px;
}
.crumple p{
	text-align: center;
	margin: 0;
}
.reworkArrow{
	float: right;
	position: relative;
	margin-top: -64px;
}
.book{
	float: left;
}
.quotes{
	float: right;
  	position: relative;
  	width: 530px;
}
.quotes h3{
	color: #888;
	font-style: italic;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	display: block;
	margin-top: 60px;
}
.quotes p{
	font-size: 14px;
	display: block;
	text-align: center;
}
.smallWordsWrap{
	width: 630px;
	margin: 0 auto;
	text-align: center;
}
.smallWordsColumn1{
	width: 300px;
	margin-right: 30px;
	float: left;
}
.smallWordsColumn2{
	width: 300px;
	float: left;
}
.redWords{
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
	padding-bottom: 10px;
	font-size: 14px;
}
.blackWords{
	margin: 13px 0;
  	font-size: 22px;
  	font-weight: bold;
  	display: block;
  	color: black;
  	text-decoration: none;
}
.smallerWords{
	font-size: 14px;
	color: #666;
	font-family: arial;
	margin-bottom: 20px;
}





